<a class="btn btn-info" asp-action="Create">Create</a>
<div>Hello list of tickets for specific company here and with ignore query filters</div>

<div class="border rounded">
    <table id="tblData" class="table table-striped table-bordered">
        <thead>
            <tr class="table-info">
                <th>Purchase Date</th>
                <th>Price</th>
                <th>Seat Class</th>
                <th>Position</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/ticket.js"></script>
}

