@model IEnumerable<TicketListVM>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a class="btn btn-info" asp-action="Create">Create</a>
<div>Hello list of tickets for specific company here</div>

<div class="border rounded">
    <table id="tblData" class="table table-striped table-bordered">
        <thead>
            <tr class="table-info">
                <th>PurchaseDate</th>
                <th>Price</th>
                <th>SeatClass</th>
                <th>Position</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/ticket.js"></script>
}

